{% extends 'index.html' %}
{% block body %}

<!-- Página para Editar Transação -->
<div class="container">
  <div class="text-center">
    <h4 class="text-center">Editar Transação</h4>
  </div>
  <div>
    <form
      method="POST"
      action="{{ url_for('transaction.edit_transaction') }}"
      id="transactionForm"
    >
      {{ formTransactions.csrf_token }} {{ formTransactions.hidden_tag() }}
      
      <div class="card container mb-1">
        <div class="row mb-1">
          <div class="col mb-1"> 
            <h5>{{ formTransactions.transaction_type.label }}</h5>
            {{ formTransactions.transaction_type(class="form-select", id="transaction_type") }}
          </div>
          <div class="col mb-1">
            <h5>{{ formTransactions.transaction_date.label }}</h5>
            {{ formTransactions.transaction_date(class="form-select", value=transaction_date.strftime('%Y-%m-%d') if transaction_date else '') }}
          </div>
        </div>
      </div>
      <div class="card container mb-1" id="section_crypto_received" style="background-color: #0b5dd717;">
        <h5>Dados Recebimento</h5>
        <div class="text-center mb-1">
          <div class="row">
            <div class="col mb-1">
              {{ formTransactions.crypto_receive.label }}
              {{ formTransactions.crypto_receive(class="form-select", id="crypto_receive") }}
              <input
                type="hidden"
                name="payment_wallet_id"
                id="payment_wallet_id"
                value="{{ formTransactions.payment_wallet.data }}"
              />
              <input
                type="hidden"
                name="carteriaRecebimentoTransacao_id"
                id="carteriaRecebimentoTransacao_id"
                value="{{ formTransactions.receiving_wallet.data }}"
              />
            </div>
            <div class="col mb-1">
              {{ formTransactions.crypto_receive_price.label }}
              {{ formTransactions.crypto_receive_price(class="form-control", id="crypto_receive_price") }}
            </div>
            <div class="col mb-1">
              {{ formTransactions.crypto_receive_quantity.label }}
              {{ formTransactions.crypto_receive_quantity(class="form-control", id="crypto_receive_quantity") }}
            </div>
            <div class="col mb-1">
              {{ formTransactions.total_received.label }}
              {{ formTransactions.total_received(class="form-control bg-light border border-secondary", readonly=True, id="total_received") }}
            </div>
          </div>
        </div>
      </div>
      <div class="card container" style="background-color: #ad181811;">
        <div id="section_crypto_payment">
          <h5>Dados Pagamento</h5>
          <div class="container text-center mb-1">
            <div class="row">
              <div class="col mb-1">
                {{ formTransactions.crypto_payment.label }}
                {{ formTransactions.crypto_payment(class="form-select", id="crypto_payment") }}
                <input
                  type="hidden"
                  name="crypto_paymentId"
                  id="crypto_paymentId"
                  value="{{ formTransactions.crypto_payment.data }}"
                />
              </div>
              <div class="col mb-1">
                {{ formTransactions.crypto_payment_price.label }}
                {{ formTransactions.crypto_payment_price(class="form-control", id="crypto_payment_price") }}
              </div>
              <div class="col mb-1">
                {{ formTransactions.crypto_payment_quantity.label }}
                {{ formTransactions.crypto_payment_quantity(class="form-control", id="crypto_payment_quantity") }}
              </div>
              <div class="col mb-1">
                {{ formTransactions.total_paid.label }}
                {{ formTransactions.total_paid(class="form-control bg-light border border-secondary", readonly=True, id="total_paid") }}
              </div>
            </div>
          </div>
        </div>
        <div id="section_crypto_fee">
          <h5>Sobre a Taxa</h5>
          <div class="container text-center mb-1">
            <div class="row">
              <div class="col mb-1">
                {{ formTransactions.crypto_fee.label }}
                {{ formTransactions.crypto_fee(class="form-select", id="crypto_fee") }}
                <input
                  type="hidden"
                  name="payment_wallet_id"
                  id="payment_wallet_id"
                  value="{{ formTransactions.payment_wallet.data }}"
                />
                <input
                  type="hidden"
                  name="carteriaRecebimentoTransacao_id"
                  id="carteriaRecebimentoTransacao_id"
                  value="{{ formTransactions.receiving_wallet.data }}"
                />
              </div>
              <div class="col mb-1">
                {{ formTransactions.crypto_fee_price.label }}
                {{ formTransactions.crypto_fee_price(class="form-control", id="crypto_fee_price") }}
              </div>
              <div class="col mb-1">
                {{ formTransactions.crypto_fee_quantity.label }}
                {{ formTransactions.crypto_fee_quantity(class="form-control", id="crypto_fee_quantity") }}
              </div>
              <div class="col mb-1">
                {{ formTransactions.total_fee.label }}
                {{ formTransactions.total_fee(class="form-control bg-light border border-secondary", readonly=True, id="total_fee") }}
              </div>
            </div>
          </div>
        </div>        
      </div>
      <h5>Locais da Transação</h5>
      <div class="card container text-center">
        <div class="row mt-1 mb-1">
          <div class="col mb-1" id="saida_wallet_container">
            {{ formTransactions.payment_wallet.label }}
            {{ formTransactions.payment_wallet(class="form-select", id="payment_wallet") }}
            <input
              type="hidden"
              name="payment_wallet"
              id="payment_wallet_id"
              value="{{ formTransactions.payment_wallet.data }}"
            />
          </div>
          <div class="col mb-1" id="receiving_wallet_container">
            {{ formTransactions.receiving_wallet.label }}
            {{ formTransactions.receiving_wallet(class="form-select", id="receiving_wallet") }}
            <input
              type="hidden"
              name="carteriaRecebimentoTransacaoId"
              id="carteriaRecebimentoTransacaoId"
              value="{{ formTransactions.receiving_wallet.data }}"
            />
          </div>
        </div>
      </div>
      <div class="d-grid gap-3 mt-1">
        <button type="submit" class="btn btn-primary">Adicionar</button>
      </div>
    </form>
  </div>
</div>

{% block scripts %}
  <script src="static/js/scripts_transacoes.js" defer></script>
{% endblock %}
{% endblock %}
