{% extends 'base.html' %}

{% block body%}
<div class="container">
  <h1>Faça Login ou Crie sua Conta para Continuar</h1>
  <hr class="mb-5">
  <div class="row g-6 px-6">
    <div class=" border m-2 p-4 col">
      <form>
        <h3>Login</h3>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp""> 
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Lembrar Dados de Acesso</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="border m-2 p-4 col">
      <form>
        <h3>Criar Conta</h3>
        <div class="mb-3">
          <label for="exampleInputUsername" class="form-label">Nome do Usuário</label>
          <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail2" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword2">
        </div>
        <div class="mb-3">
          <label for="exampleInputConfirmPassword" class="form-label">Confirmação de Senha</label>
          <input type="password" class="form-control" id="exampleInputConfirmPassword">
        </div>
        <button type="submit" class="btn btn-primary">Criar Conta</button>
      </form>
    </div>
  </div>
</div>


{% endblock%}