<!-- Modal para Adicionar Transação -->
<div
  class="modal fade"
  id="carteiraModal"
  tabindex="-1"
  aria-labelledby="carteiraModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="text-center pt-4">
        <h5 class="modal-title text-center" id="carteiraModalLabel">
          Adicionar Carteira
        </h5>
      </div>
      <div class="modal-body p-4">
        <form method="POST" action="{{ url_for('add_wallet') }}">
          {{ formAddWallet.csrf_token }}
          {{ formAddWallet.hidden_tag() }}
          <fieldset>
            <div class="card container text-center p-4">
              {{ formAddWallet.wallet_name.label }} {{
              formAddWallet.wallet_name(class="form-select") }} {{
              formAddWallet.wallet_network.label }} {{
              formAddWallet.wallet_network(class="form-select") }}
            </div>
          </fieldset>
          <div class="d-grid gap-3 mt-3">
            <button type="submit" class="btn btn-primary">Adicionar Carteira</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
