<body>
  <div class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <nav class="navbar-nav ms-auto">
        <a
          class="nav-link"
          aria-current="page"
          href="{{ url_for('add_transactions') }}"
          >+ Transação</a
        >

        <a
          class="nav-link"
          aria-current="page"
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#carteiraModal"
          >+ Carteira</a
        >

        <a
          class="nav-link"
          aria-current="page"
          href="#"
          data-bs-toggle="modal"
          data-bs-target="#moedasModal"
          >+ Moeda</a
        >

        <!--link que atualiza preço com API via formulário-->
        <form
          id="atualizar-prices-form"
          action="{{ url_for('update_prices') }}"
          method="POST"
          style="display: none"
        ></form>
        <a
          class="nav-link"
          href="#"
          onclick="document.getElementById('atualizar-prices-form').submit();"
          >Atualizar Preços</a
        >
      </nav>
    </div>
  </div>
</body>
