{% extends 'index.html' %}

{% block head %}
    <style>
        .modal-dialog {
            max-width: 800px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <!-- Tabela de Saldos da Carteira -->
        <h4>Saldo de Moedas por Carteiras</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Carteira</th>
                    <th>Moeda</th>
                    <th class="text-end">Quantidade</th>
                    <th class="text-end">Preço</th>
                    <th class="text-end">Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for saldo in saldos %}
                    <tr>
                        <td>{{ saldo.wallet }}</td>
                        <td>{{ saldo.crypto }}</td>
                        <td class="text-end">{{ saldo.quantidade }}</td>
                        <td class="text-end">{{ saldo.preço | round(2) }}</td>
                        <td class="text-end">{{ saldo.valor | round(2) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="table-dark text-white fw-bold">
                    <td colspan="4" class="text-end">Total</td>
                    <td class="text-end">{{ total_valor | round(2) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    
{% endblock %}

