<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Livro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
        .then(function(registration) {
            console.log('Service Worker registered with scope:', registration.scope);
        }, function(error) {
            console.log('Service Worker registration failed:', error);
        });
    }
    </script>
</head>
<body>
    <div class="container_row">
        <h1>Minhas Leituras</h1>
        <a class="botao-adicionar" href="{{ url_for('add_book') }}">
            <img class="tm_img_adicionar" src="{{ url_for('static', filename='add.png') }}">
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Classificação</th>
                <th>Início</th>
                <th>Fim</th>
                <th colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td onclick="editBook({{ book.id }})">{{ book.titulo }}</td>
                    <td class="classificacao">
                        {% for i in range(book.classificacao) %}
                            &#9829;
                        {% endfor %}
                    </td>
                    <td class="align_centro">{{ book.inicio.strftime('%d/%m/%Y') if book.inicio else '' }}</td>
                    <td class="align_centro">{{ book.fim.strftime('%d/%m/%Y') if book.fim else '' }}</td>
                    <td class="td_backgroun_trans">
                        <form action="{{ url_for('edit_book', id=book.id) }}" method="post" style="display: inline;">
                            <button class="botao-excluir" type="submit">
                                <img class="tm_img_excluir" src="{{ url_for('static', filename='edit.png') }}">
                            </button>
                        </form> 
                    </td>
                    <td class="td_backgroun_trans">
                        <form action="{{ url_for('delete_book', id=book.id) }}" method="post" style="display: inline;">
                            <button class="botao-excluir" type="submit">
                                <img class="tm_img_excluir" src="{{ url_for('static', filename='delete.png') }}">
                            </button>                            
                        </form>  
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
     <!-- Referência ao arquivo JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>


