{% extends 'index.html' %}

{% block head %}
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
{% endblock %}

{% block body %}
    
    <div class="container">
        <caption>
            <div>
                <h4 class="mt-4">Tabela de Preços Atuais das Moedas</h4>
                <!--link que atualiza preço com API via formulário-->
                <form
                    id="atualizar-prices-form"
                    action="{{ url_for('update_price.update_prices') }}"
                    method="POST"
                    style="display: none">
                    </form>
                <a
                    class="btn btn-primary"
                    href="#"
                    onclick="document.getElementById('atualizar-prices-form').submit();"
                    >Atualizar Preços
                </a>
            </div>
        </caption>
        <table class="table">
            <thead>
                <tr>
                    <th>Cripto</th>
                    <th>Preço</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for price in prices %}
                <tr>
                    <td>{{ price.price_cryptocurrency.crypto_name }}</td> 
                    <td>{{ price.price }}</td>
                    <td>{{ price.price_consult_datetime }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% block scripts %}
        <script>
            document.getElementById('update-prices').addEventListener('click', function() {
                fetch('/update_prices', {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Preços atualizados com sucesso!');
                        location.reload();
                    } else {
                        alert('Erro ao atualizar preços.');
                    }
                })
                .catch(error => console.error('Erro:', error));
            });
        </script>
    {% endblock %}
{% endblock %}
