@font-face {
    font-family: 'SupremeLeader';
    src: url('fonts/SupremeLeaderDEMO-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Coffee Spark';
    src: url('fonts/Coffee Spark.otf') format('opentype'),
         url('fonts/Coffee Spark.ttf') format('truetype');
}

@font-face {
    font-family: 'Venily';
    src: url('fonts/Venily.otf') format('opentype'),
         url('fonts/Venily.ttf') format('truetype');
}
body{
    background-color: rgb(37, 142, 150);
    opacity: 1;
    background-image:  linear-gradient(#ffffff15 1px, transparent 1px), linear-gradient(to right, #ffffff15 1px, rgb(37, 142, 150) 1px);
    background-size: 20px 20px;
}

.container{
    margin: 20px 20px;
}

.container_inputs_usu {
    border: none; /* Remove a borda */
    outline: none;
    background-color: #ffffff;
    border-radius: 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajuste conforme necessário */
    min-width: 370px;
    width: 80%;
    padding: 8px;
    font-size: 16px;
}


.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating input[type="radio"]:checked ~ label ~ label {
    color: #f5b301;
}
.star-rating input[type="radio"]:hover ~ label,
.star-rating input[type="radio"]:hover ~ label ~ label {
    color: #f5b301;
}

button {
    background-color: #ffca08;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

h1{
    font-family: 'Venily';
    color: rgb(255, 255, 255);
    font-size: 48px;
}
a:hover {
    text-decoration: underline;
}
label{
    font-family: 'Venily';
    color: rgb(255, 255, 255);
    font-size: 18px;
}