@font-face {
    font-family: 'SupremeLeader';
    src: url('fonts/SupremeLeaderDEMO-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Coffee Spark';
    src: url('fonts/Coffee Spark.otf') format('opentype'),
         url('fonts/Coffee Spark.ttf') format('truetype');
}

@font-face {
    font-family: 'Venily';
    src: url('fonts/Venily.otf') format('opentype'),
         url('fonts/Venily.ttf') format('truetype');
}

body {
    background-color: rgba(175, 151, 192);
    opacity: 1;
    background-image: radial-gradient(circle, #ffffff11 10%, transparent 20%);
    background-size: 20px 20px;
    max-width: 480px;
}


.container{
    margin: 20px 20px;
    background-color: rgba(82, 42, 110, 0.308);
    padding: 10px 10px;
}

.container_inputs_usu {
    border: none; /* Remove a borda */
    outline: none;
    background-color: #ffffff;
    border-radius: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajuste conforme necessário */
    /*min-width: 370px;*/
    width: 95%;
    padding: 8px;
    font-size: 16px;
}

.container_colum{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container_row{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating input[type="radio"]:checked ~ label ~ label {
    color: #f5b301;
}
.star-rating input[type="radio"]:hover ~ label,
.star-rating input[type="radio"]:hover ~ label ~ label {
    color: #f5b301;
}

button {
    background-color: #ffca08;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end;
}

h1{
    font-family: 'Venily';
    color: rgb(255, 255, 255);
    font-size: 48px;
}
a:hover {
    text-decoration: underline;
}
label{
    font-family: 'Venily';
    color: rgb(255, 255, 255);
    font-size: 18px;
}