/* Declaração das fontes personalizadas */
@font-face {
    font-family: 'SupremeLeader';
    src: url('fonts/SupremeLeaderDEMO-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Coffee Spark';
    src: url('fonts/Coffee Spark.otf') format('opentype'),
         url('fonts/Coffee Spark.ttf') format('truetype');
}
@font-face {
    font-family: 'Venily';
    src: url('fonts/Venily.otf') format('opentype'),
         url('fonts/Venily.ttf') format('truetype');
}
@font-face {
    font-family: 'Kinder-Child';
    src: url('fonts/Kinder-Child.ttf') format('truetype');
}

/* Estilo do corpo da página */
body {
    background-color: rgba(175, 151, 192);
    background-image: radial-gradient(circle, #ffffff17 10%, transparent 20%);
    background-size: 20px 20px;
    max-width: 480px;
    margin: 0 auto; /* Centraliza o conteúdo */
    font-family: 'Kinder-Child';
    font-weight: lighter;
    color: #333; /* Cor do texto padrão */
}

/* Container principal */
.container {
    margin: 20px;
    background-color: rgba(82, 42, 110, 0.308);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.container_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}

.input_g {
    width: 95%;
}

.input_p {
    width: 60%;
}

.align_centro {
    align-items: center;
    text-align: center;
}

/* Estilo das estrelas de classificação */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    font-size: 3rem;
    color: seashell;
    cursor: pointer;
}
.star-rating input[type="radio"]:checked ~ label,
.star-rating input[type="radio"]:checked ~ label ~ label,
.star-rating input[type="radio"]:hover ~ label,
.star-rating input[type="radio"]:hover ~ label ~ label {
    color: #f3d541;
}

.classificacao {
    color: #f3d541;
    font-size: 23px;
}

/* Estilo do título */
h1 {
    display: flex; /* Define Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 10px 0 0 10px;
    padding: 0;
    color: seashell;
    font-size: 48px;
}

a:hover {
    text-decoration: none;
}

/* Estilo dos formulários */
label {
    color: seashell;
    font-size: 18px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    border: none;
    outline: none;
    background-color: seashell;
    border-radius: 5px;
    padding: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

textarea {
    padding: 10px;
    font-size: 16px;
}

/* Estilo dos botões */
a {
    text-decoration: none;
    margin-top: 10px;
}

legend {
    color: seashell;
}

fieldset {
    border: solid 1px rgba(255, 245, 238, 0.473);
}

.botao-salvar,
.botao-voltar {
    width: 90px; /* Largura do botão */
    height: 45px; /* Altura do botão */
    color: seashell;
    border-radius: 50%; /* Torna o botão redondo */
    border: none;
    font-size: 20px;
    display: flex; /* Flexbox para centralizar */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    cursor: pointer; /* Mostra o cursor de mão ao passar o mouse */
}

.botao-salvar {
    background-color: rgba(82, 42, 110, 0.678); /* Cor de fundo */
    font-family: 'Kinder-Child';
}

.botao-voltar {
    background-color: rgb(146, 190, 27);
    text-decoration: none;
}

.botao-excluir {
    display: flex; /* Flexbox para centralizar */
    align-items: left; /* Centraliza verticalmente */
    justify-content: left; /* Centraliza horizontalmente */
    text-align: left; /* Centraliza o texto */
    cursor: pointer; /* Mostra o cursor de mão ao passar o mouse */
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.botao-adicionar {
    margin: 0;
    padding: 0;
    display: flex; /* Define Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    margin-top: 10px;
}

/* Estilo das imagens */
.tm_img_excluir {
    width: 30px;
    height: auto;
}

.tm_img_adicionar {
    width: 40px;
    height: auto;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 4px solid rgba(175, 151, 192);
    padding: 8px;
    text-align: left;
    background-color: rgba(82, 42, 110, 0.308);
}

th {
    background-color: rgba(82, 42, 110, 0.678);
    text-align: center;
    font-size: 18px;
    color: seashell;
}

.td_backgroun_trans {
    padding: 0; 
    margin: 0;
}
