<!-- Modal para Adicionar Transação -->
<div
  class="modal fade"
  id="transactionModal"
  tabindex="-1"
  aria-labelledby="transactionModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="text-center pt-4">
        <h5 class="modal-title text-center" id="transactionModalLabel">
          Adicionar Transação
        </h5>
      </div>
      <div class="modal-body p-4">
        <form method="POST" action="????????????????????????">
          {{ formTransacoes.csrf_token }}
          {{ formTransacoes.hidden_tag() }}
          <h6 class="modal-title mt-3" id="transactionModalLabel">
            Tipo de Transação
          </h6>
          <div class="mb-3">
            {{ formTransacoes.tipoTransacao(class="form-select") }}
          </div>
          <div class="card container p-4">
            <h6 class="modal-title mt-3" id="transactionModalLabel">
              Dados Transação
            </h6>
            <div class="card container text-center">
              <div class="row">
                <div class="col mb-3">
                  {{ formTransacoes.moedaTransacao.label }} {{
                  formTransacoes.moedaTransacao(class="form-select") }}
                </div>
                <div class="col mb-3">
                  {{ formTransacoes.precoTransacao.label }} {{
                  formTransacoes.precoTransacao(class="form-control") }}
                </div>
                <div class="col mb-3">
                  {{ formTransacoes.quantidadeTransacao.label }} {{
                  formTransacoes.quantidadeTransacao(class="form-control") }}
                </div>
                <div class="col mb-3">
                  {{ formTransacoes.totalTransacao.label }} {{
                  formTransacoes.totalTransacao(class_="form-control bg-light
                  border border-secondary", readonly=True) }}
                </div>
              </div>
            </div>
            <h6 class="modal-title mt-3" id="transactionModalLabel">
              Sobre a Taxa
            </h6>
            <div class="card container text-center">
              <div class="row">
                <div class="col mb-3">
                  {{ formTransacoes.moedaTaxa.label }} {{
                  formTransacoes.moedaTaxa(class="form-select") }}
                </div>
                <div class="col mb-3">
                  {{ formTransacoes.precoTaxa.label }} {{
                  formTransacoes.precoTaxa(class="form-control") }}
                </div>
                <div class="col mb-3">
                  {{ formTransacoes.quantidadeTaxa.label }} {{
                  formTransacoes.quantidadeTaxa(class="form-control") }}
                </div>
                <div class="col mb-3">
                  {{ formTransacoes.totalTaxa.label }} {{
                  formTransacoes.totalTaxa(class="form-control bg-light border
                  border-secondary", readonly=True) }}
                </div>
              </div>
            </div>
          </div>
          <h6 class="modal-title mt-3" id="transactionModalLabel">
            Locais da Transação
          </h6>
          <div class="card container text-center">
            <div class="row">
              <div class="col mb-3" id="saida_wallet_container">
                {{ formTransacoes.carteriaSaidaTransacao.label }} {{
                formTransacoes.carteriaSaidaTransacao(class="form-select") }}
              </div>
              <div class="col mb-3" id="receiving_wallet_container">
                {{ formTransacoes.carteriaRecebimentoTransacao.label }} {{
                formTransacoes.carteriaRecebimentoTransacao(class="form-select")
                }}
              </div>
            </div>
          </div>
          <div class="d-grid gap-3 mt-3">
            <button type="submit" class="btn btn-primary">Adicionar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="static/js/scripts_transacoes.js" defer></script>
