<nav class="nav flex-column">
  <a
    class="nav-link active"
    aria-current="page"
    href="#"
    data-bs-toggle="modal"
    data-bs-target="#transactionModal"
    >Adicionar Transação</a
  >
  
  <a
  class="nav-link active"
  aria-current="page"
  href="#"
  data-bs-toggle="modal"
  data-bs-target="#carteiraModal"
  >Adicionar Carteira</a
  >
  
  <a
  class="nav-link active"
  aria-current="page"
  href="#"
  data-bs-toggle="modal"
  data-bs-target="#moedasModal"
  >Adicionar Moeda</a
  >
  
  <a class="nav-link" href="#">Atualizar Preços</a>
</nav>
