{% extends 'index.html' %}

{% block head %}
    <style>
        .modal-dialog {
            max-width: 800px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <!-- Botão para abrir o modal -->
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#transactionModal">
            Adicionar Transação
        </button>

        <!-- Tabela de Transações -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome da Carteira</th>
                    <th>Tipo</th>
                    <th>Moeda</th>
                    <th>Quantidade</th>
                    <th>Moeda U$</th>
                    <th>Total U$</th>
                    <th>Moeda da Taxa</th>
                    <th>R$ Taxa</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for transacao in transacoes %}
                <tr>
                    <td>{{ transacao.id }}</td>
                    <td>{{ transacao.wallet.name }}</td>
                    <td>{{ transacao.type }}</td>
                    <td>{{ transacao.cryptocurrency.name }}</td>
                    <td>{{ transacao.amount }}</td>
                    <td>{{ transacao.amount_paid }}</td>
                    <td>{{ total_values[loop.index0].total }}</td> 
                    <td>{{ transacao.fee_cryptocurrency.name }}</td>
                    <td>{{ transacao.fee_amount }}</td>
                    <td>{{ transacao.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal para Adicionar Transação -->
    <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="transactionModalLabel">Adicionar Transação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('add_transaction') }}" method="POST">
                        <div class="mb-3">
                            <label for="transaction_type" class="form-label">Tipo</label>
                            <select id="transaction_type" name="transaction_type" class="form-select" required>
                                <option value="compra">Compra</option>
                                <option value="venda">Venda</option>
                                <option value="transferencia">Transferência</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="cryptocurrency_id" class="form-label">Moeda</label>
                            <select id="cryptocurrency_id" name="cryptocurrency_id" class="form-select" required>
                                <option value="" disabled selected>Selecione</option>
                                {% for moeda in moedas %}
                                <option value="{{ moeda.id }}">{{ moeda.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="amount_paid" class="form-label">Preço Transação</label>
                            <input type="number" id="amount_paid" name="amount_paid" class="form-control" step="0.01" required>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="form-label">Quantidade</label>
                            <input type="number" id="amount" name="amount" class="form-control" step="0.01" required>
                        </div>
                        <div class="mb-3">
                            <label for="fee_cryptocurrency_id" class="form-label">Pagar Taxa com</label>
                            <select id="fee_cryptocurrency_id" name="fee_cryptocurrency_id" class="form-select" required>
                                {% for moeda in moedas %}
                                <option value="{{ moeda.id }}">{{ moeda.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="fee_amount" class="form-label">Valor da Taxa</label>
                            <input type="number" id="fee_amount" name="fee_amount" class="form-control" step="0.01" required>
                        </div>
                        <div class="mb-3">
                            <label for="wallet_id" class="form-label">Carteira</label>
                            <select id="wallet_id" name="wallet_id" class="form-select" required>
                                {% for carteira in carteiras %}
                                <option value="{{ carteira.id }}">{{ carteira.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3" id="receiving_wallet_container" style="display:none;">
                            <label for="receiving_wallet_id" class="form-label">Carteira de Recebimento</label>
                            <select id="receiving_wallet_id" name="receiving_wallet_id" class="form-select">
                                {% for carteira in carteiras %}
                                <option value="{{ carteira.id }}">{{ carteira.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

   
    <script>
        document.getElementById('transaction_type').addEventListener('change', function () {
            var type = this.value;
            var receivingWalletContainer = document.getElementById('receiving_wallet_container');
    
            if (type === 'transferencia') {
                receivingWalletContainer.style.display = 'block';
            } else {
                receivingWalletContainer.style.display = 'none';
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
        var cryptocurrencySelect = document.getElementById('cryptocurrency_id');
        var feeCryptocurrencySelect = document.getElementById('fee_cryptocurrency_id');
        var amountPaidInput = document.getElementById('amount_paid');
        var feeAmountInput = document.getElementById('fee_amount');

        function updatePrice(selectElement, inputElement) {
            var currencyId = selectElement.value;
            if (currencyId) {
                fetch(`/get_price?currency_id=${currencyId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.price) {
                            inputElement.value = data.price;
                        } else {
                            inputElement.value = '';
                        }
                    })
                    .catch(() => {
                        inputElement.value = '';
                    });
            } else {
                inputElement.value = '';
            }
        }

        cryptocurrencySelect.addEventListener('change', function() {
            updatePrice(cryptocurrencySelect, amountPaidInput);
        });

        feeCryptocurrencySelect.addEventListener('change', function() {
            updatePrice(feeCryptocurrencySelect, feeAmountInput);
        });
        });
    </script>
{% endblock %}

